.pio
.vscode
include
lib
test
platformio.ini
src/main.cpp
src/Debug*
excluded
*.bak

# Example Resources which tend to sneak into commits (when placed in src for testing)
src/hourglass*
src/pencils*
src/chess*
src/apples*
src/tests.h
src/ball.h
src/window_cartoon.h
src/image_*
src/ble_demo.h
src/graphical_elements.h
src/intro_outro.h
src/led_button_demo.h
src/lora_demo_install.h
src/sleep_demo.h
src/wifi_demo.h
src/TJpg_Decoder.cpp
src/TJpg_Decoder.h
src/tjpgd.c
src/tjpgd.h
src/tjpgdcnf.h
